body {
  background: #EBE8D3;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 356px;
  border: solid 1px #666;
  border-radius: 5px;
  background: #fff;
  box-shadow: #ccc 1px 1px 1px;
  position: relative;
}
.card h1 {
  color: white;
  position: absolute;
  top: 45px;
  width: 214px;
  padding-left: 4px;
}
.card.team-red > h1 {
  background: #D30C0C;
}
.card.team-green > h1 {
  background: #2C7204;
}
.card.team-blue > h1 {
  background: #005A85;
}
.card.moved {
  opacity: 0.6;
}
.card > .attachments {
  margin-top: 90px;
}
.card > .attachments > .attachment {
  /* Card attachment die positions */

}
.card > .attachments > .attachment > h3 {
  margin-left: 60px;
}
.card > .attachments > .attachment > p {
  margin-left: 60px;
}
.card > .attachments > .attachment > .dice {
  width: 78px;
  height: 36px;
  margin-top: 6px;
  margin-left: -20px;
  text-align: right;
  float: left;
}
.card > .attachments > .attachment > .dice > i {
  float: none;
  position: absolute;
}
.card > .attachments > .attachment > .dice > i:nth-child(1) {
  right: 0px;
}
.card > .attachments > .attachment > .dice > i:nth-child(2) {
  right: 39px;
}
.card > .attachments > .attachment > .dice > i:nth-child(3) {
  right: 39px;
  top: 19px;
}
.card > .attachments > .attachment > .dice > i:nth-child(2),
.card > .attachments > .attachment > .dice i:nth-child(3) {
  width: 16px;
  height: 16px;
  padding-top: 0px;
  font-size: 12px;
}
.card > .attachments > .attachment > .dice > i:nth-child(2) > div,
.card > .attachments > .attachment > .dice i:nth-child(3) > div {
  margin-top: -1px;
}
.dice {
  position: relative;
  /*  i:nth-child(3){ position: absolute; left: 20px; top: 0px;}
  i:nth-child(3).d8 { -webkit-transform: rotate(-45deg) scale(.85); -moz-transform: scale(.85); border-radius: 10px; }
  i:nth-child(3).d8 span { -webkit-transform: scale(1.17) rotate(45deg); -moz-transform: scale(1.17) rotate(45deg); }
*/
  /*  i.d8{ -webkit-transform: rotate(45deg) scale(.95); -moz-transform: rotate(45deg) scale(.95) ; border-radius: 4px;  }
  i.d8 > div > span { -webkit-transform: rotate(-45deg) scale(1.05); -moz-transform: rotate(-45deg) scale(.95); display:block; margin-left:-2px;}
*/
}
.dice i {
  width: 35px;
  height: 27px;
  display: block;
  float: right;
  margin-right: 2px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  background: #F1EFDF;
  border: 1px solid rgba(255, 255, 255, 0);
}
.dice i.red {
  background: #D30C0C;
  color: #ffffff;
}
.dice i.blue {
  background: #0C73D3;
  color: #ffffff;
}
.dice i.green {
  background: #1AC01A;
  color: #ffffff;
}
.dice i.yellow {
  background: #FFE41B;
  color: #555555;
}
.dice i.white {
  background: #fff;
  color: #555;
  border-color: #ccc;
}
.dice i.unrolled {
  opacity: 0.75;
}
.dice i.disabled {
  opacity: 0.75;
}
.dice i.d6 {
  border-radius: 4px;
}
.dice i.d8 {
  border-radius: 16px;
}
